/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
    --ion-background-color: #ffffff; /* Fondo blanco */
    --ion-text-color: #000000;       /* Texto negro */
  }
  
  ion-content {
    --background: #ffffff; /* Fondo blanco en ion-content */
    color: #000000;        /* Texto negro dentro de ion-content */
  }
  
  ion-toolbar {
    --background: #ffffff; /* Fondo blanco en la barra de herramientas */
    color: #000000;        /* Texto negro en la barra de herramientas */
  }
  
  ion-button,
  ion-label,
  ion-title,
  ion-header,
  ion-footer {
    color: #000000;        /* Texto negro para botones y etiquetas de texto */
  }
/* Clases para color de texto */
.text-black {
    color: black !important;
}

.text-white {
    color: white !important;
}

/* Clases para fondo */
.bg-white {
    background-color: white !important;
}

.bg-black {
    background-color: black !important;
}
:root {
  --container-bg-color: #f2f2f2;  /* Gris claro para modo claro */
  --container-text-color: #000000; /* Negro para texto en modo claro */
}

@media (prefers-color-scheme: dark) {
  :root {
    --container-bg-color: #333333;  /* Gris oscuro para contenedor en modo oscuro */
    --container-text-color: #ffffff; /* Blanco para texto en modo oscuro */
  }
}

ion-content {
  background-color: var(--container-bg-color);
  color: var(--container-text-color);
}

.container {
  padding: 16px;
  background-color: var(--container-bg-color);
  color: var(--container-text-color);
  border-radius: 8px;
}
  